@charset "UTF-8";
/*字体颜色*/
/*边框颜色*/
/*字体颜色*/
/*边框颜色*/
html, body {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC','Helvetica Neue',Helvetica,STHeiTi,Arial,sans-serif;
  max-width: 540px;
  margin: 0 auto; }

a {
  text-decoration: none; }

.detail-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.trygoods {
  max-width: 540px; }

.list-load-tip {
  font-size: 0.32rem;
  line-height: 0.53333rem;
  height: 0.53333rem;
  color: #000;
  width: 100%;
  text-align: center; }

.loading-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%; }

.try-item {
  position: relative;
  width: 92%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 0.13333rem;
  margin-bottom: 0.26667rem;
  overflow: hidden; }
  .try-item:first-child {
    margin-top: 0.26667rem; }
  .try-item .infos {
    position: relative;
    padding: 0 0.45333rem 0.26667rem 0.42667rem;
    margin-top: 0.26667rem;
    position: relative; }
    .try-item .infos:after {
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      border-top: 1px solid #E9E9E9;
      transform: scaleY(0.6); }
    .try-item .infos .apply-btn {
      width: 1.73333rem;
      height: 0.58667rem;
      position: absolute;
      right: 0.42667rem;
      bottom: 0.26667rem; }
      .try-item .infos .apply-btn .toapply {
        font-size: 0.29333rem;
        line-height: 0.58667rem;
        background-color: #FF8B3B;
        display: block;
        border-radius: 0.58667rem;
        text-align: center;
        color: #fff; }
    .try-item .infos .reportNum {
      position: absolute;
      right: 0.4rem;
      bottom: 0.29333rem;
      height: 0.53333rem; }
      .try-item .infos .reportNum span {
        font-size: 0.32rem;
        line-height: 0.53333rem;
        display: block; }
  .try-item .apply-pers {
    font-size: 0;
    padding: 0.33333rem 0.48rem 0.34667rem 0.42667rem;
    box-sizing: border-box;
    width: 100%; }
    .try-item .apply-pers .persons {
      display: inline-block;
      height: 0.77333rem; }
    .try-item .apply-pers .apply-num {
      font-size: 0.32rem;
      line-height: 0.37333rem;
      text-align: right;
      color: #FF8B3B;
      float: right;
      margin-top: 0.21333rem; }
    .try-item .apply-pers .to-view-list {
      float: right;
      font-size: 0;
      margin-top: 0.2rem;
      height: 0.37333rem; }
      .try-item .apply-pers .to-view-list span {
        font-size: 0.32rem;
        color: #FF8B3B;
        line-height: 0.37333rem;
        display: inline-block;
        vertical-align: top; }
