@import "../../commons/scss/variable";
@import "../../commons/scss/mixin";
  .title{
    font-size:28*$n;
    line-height: 40*$n;
    width:100%;
    box-sizing:border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .info{
    display: flex;
    height:44*$n;
    .tags{
      flex:1;
      color: #999;
      font-size:0;
      .t{
        font-size:24*$n;
        line-height:40*$n;
        margin-top:2*$n;
        display: inline-block;
        vertical-align: top;
      }
      .price{
        padding:0 10*$n;
        &:before,&:after{
          content: '';
          width:2*$n;
          height:26*$n;
          background-color: $color-e9;
          display: inline-block;
          vertical-align: top;
          margin-top:7*$n;

        }
        &:before{
          margin-right:10*$n;}
        &:after{
          margin-left:10*$n;}
      }
      .amount {
        color: $origin;
        &.gray {
          color: #999;
        }
      }
      .apply-num{
        float:right;
        line-height: 0;
        display: block;
        margin-top:2*$n;
        font-size:0;
        span{
          font-size:24*$n;
          color: $origin;
          line-height: 40*$n;
          display: inline-block;
          vertical-align: top;
        }
        .origin-arrow{
          margin-top:11*$n;
        }
      }
    }
  }